
#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ob{
    height:75%;
    width:75%;
    background-color:cornsilk;
    border-radius: 10px;
   display: flex;
    justify-content: space-around;  /* Space between boxes */
    align-items: center;       /* Vertically center boxes */
    margin: auto; 
}
#o1{
    height:75%;
    width:45%;
     background-color:#9CAF88;
   border: solid 2px;
   border-radius: 10px;

   
}
#o2{
    height:75%;
    width:45%;
     background-color:#9CAF88;  
     border: solid 2px;
   border-radius: 10px;
}
